absl-py==0.6.1
adabound==0.0.5
altgraph==0.16.1
astor==0.7.1
basemap==1.2.0
beautifulsoup4==4.6.1
certifi==2018.4.16
chardet==3.0.4
Click==7.0
configparser==3.7.4
cycler==0.10.0
decorator==4.4.0
et-xmlfile==1.0.1
Flask==1.0.2
future==0.17.1
gast==0.2.0
geographiclib==1.49
geopy==1.19.0
grpcio==1.16.1
h5py==2.8.0
idna==2.7
imageio==2.5.0
imageio-ffmpeg==0.3.0
intel-openmp==2019.0
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.11.3
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lxml==4.5.2
macholib==1.11
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.2
mock==2.0.0
moviepy==1.0.0
mpmath==1.0.0
networkx==2.3
nose==1.3.7
numpy==1.16.2
opencv-contrib-python==3.4.3.18
opencv-python==3.4.3.18
openpyxl==2.6.2
pandas==0.25.3
pbr==5.1.3
pefile==2018.8.8
Pillow==5.1.0
proglog==0.1.9
protobuf==3.6.1
psutil==5.4.6
PyInstaller==3.4
pyparsing==2.3.0
pyproj==1.9.6
pyshp==2.1.0
PySnooper==0.2.8
python-dateutil==2.7.5
pytz==2018.9
PyWavelets==1.0.3
pywin32-ctypes==0.2.0
PyYAML==3.13
pyzmq==18.0.1
requests==2.19.1
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.1.0
selectivesearch==0.4
SIDEKIT==1.2.3
six==1.11.0
sklearn==0.0
sympy==1.3
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
Theano==1.0.4
torch==0.4.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.2.2.post3
tornado==6.0.2
tqdm==4.31.1
urllib3==1.23
visdom==0.1.8.8
websocket-client==0.56.0
Werkzeug==0.14.1
xlrd==1.1.0
XlsxWriter==1.1.5
xlwt==1.3.0
